.scrolldownBtnStyle{
    width: 65px;
    height: 85px;
    background-color: #183F30;
    border: 10px solid white;
    border-radius: 40px;
    position: relative;
    /* transform: rotate(0.5turn); */
}

.scrolldownBtnStyle .btn-arrow-style {
    top: 0px;
    position: absolute;
    animation-name: scrollBtnDownAnim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    
}

@keyframes scrollBtnDownAnim {
    0% {
        transform:translate(0px, 1px);
    }

    50% {
        transform:translate(0px, 23px);
    }

    100% {
        transform:translate(0px, 1px);
    }
}